// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.home {
  text-align: center;
  margin: 0 auto;
}

.header {
  padding: 5rem 5rem 1rem 5rem;

  h1 {
    font-size: 42px;
  }
}

.subheader {
  font-size: 26px;
  font-weight: 300;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  padding: 20px;
}
